body{
    background-color: rgb(41,177,211);
    height: 100%;
    
    text-align: center;
}

.header{
    font-family: 'Raleway';
    font-size: 40px;
    letter-spacing: 5px;
    font-style: italic;
    font-weight: 500;
}

i {
    font-style: italic;
    font-size: 20px;
}
#h3,#h4{
    font-family: "Raleway";
}

label{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

.user_name{
    width: 400px;
}

.logo{
    width: 500px;
    height: 330px;
}

button{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 20px;
    width: 100px;

}

h3{
    font-size: 30px;
}

h4{
    font-size: 23px;
}

.img{
    width: 200px;
    height: 200px;
}