body{
    background-color: rgb(41,177,211);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 10px 10px dotted;
    border-color: white;
}

h1,h2,h3,h4{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#left{
    float:left;
    margin-right: 50px;
}